.container{
    width:90%;
    height:auto;
    margin:auto
}

.btn-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:40px;
    justify-content:center;
    margin:auto;
    margin-top:100px;
    position: relative;
}

.btn{
    color:rgba(0, 0, 0, 0.267);
    background-color: teal;
    padding:15px;
    border-radius: 5px;
    font-size:15px;
    border:none;
    position:relative;
}




.btn .tooltiptext{
    visibility: hidden;
    background-color: black;
    color:white;
    text-align: center;
    border-radius: 6px;
    padding: 15px 20px ;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

.btn:hover .tooltiptext{
    visibility: visible;
    opacity:1
}


.left{
    top:0;
    right:110%;
    
}



.left::after{
    content:"";
    position:absolute;
    top:50%;
    left:100%;
    margin-top:-5px;
    border-width: 6px;
    border-style: solid;
    border-color:transparent transparent transparent black
}

.right{
    top:0;
    left:110%;
    
}

.right::after{
    content:"";
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-5px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent black transparent transparent
}

.top{
    left:0;
    bottom:110%;
    
}

.top::after{
    content:"";
    position:absolute;
    left:50%;
    top:100%;
    margin-left:-5px;
    border-width: 6px;
    border-style: solid;
    border-color:black transparent transparent transparent
}


.bottom{
    left:0;
    top:110%;
    
}

.bottom::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:100%;
    margin-left:-5px;
    border-width: 6px;
    border-style: solid;
    border-color:transparent transparent black transparent
}


.right-btn{
    transition: transform 0.3s ease;
    transform: translateX(0px);
}
.right-btn:hover{
    transform: translateX(10px);
}


.left-btn{
    transition: transform 0.3s ease;
    transform: translateX(0px);
}

.left-btn:hover{
    transform: translateX(-10px);
}

.top-btn{
    transition: transform 0.3s ease;
    transform: translateY(0px);
}

.top-btn:hover{
    transform: translateY(-10px);
}


.bottom-btn{
    transition: transform 0.3s ease;
    transform: translateY(0px);
}

.bottom-btn:hover{
    transform: translateY(10px);
}