*{
    text-align: center;
   }
   #bucket{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
    }
    #bucket>div{
        margin: 8px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
        padding: 10px;
        
    }
    #bucket>div>img{
        width: 90%;
        height: 280px;
    }

    #confirm_checkout{
        margin: auto;
        justify-self: center;   
        margin-top: 30px;
        padding: 4px;         
     }