#navbar{
    width:100%;
    height:40px;
    display:flex;
    gap:15px;
    justify-content: flex-end;
    align-items: center;
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
}

#navbar>div:last-child{
    margin-right: 30px;
}
#menu{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
#menu>div{
    margin: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    padding: 12px;
}
#menu>div>img{
    width: 90%;
    height: 280px;
}