#footer-container{
   margin-top:350px;
   margin-bottom:0px;
    width: 100%;
    height:162px;
    background-color: teal;
 }
 #footer{
    width: 100%;
    padding:20px 0 ;
    display:flex;
    
    justify-content: space-around;
    gap: 20px;
 }
 #footer>.col{
   margin-left: 100px;
   display: flex;
   gap:20px;
 }
 
 #footer>.col>.lead{
    font-size: 15px;
    font-weight: 600;
    color: #041628;
     margin-bottom: 30px;
 }
 #footer .content{
    margin-top: 15px;
    color: white;
    font-size: 17px;
    text-decoration: none;
 }
 #footer img{
    display: block;
    width:75%;
    margin-bottom: 10px;
    align-self: center;
 }
 #copy{
    width: 90%;
    margin: auto;
    color: white;
    padding-bottom: 30px;
 }