#navbar{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

#navbar div{
    display: flex;
    gap: 10px;
    font-size: larger;
       text-align: center;
       justify-content: space-between;
       align-items: center;
}

#navbar a{
    color: rgb(2, 2, 22);
    }

#search_box{
    margin: 30px auto;
    text-align: center;
}
#search_box>input{
     padding: 15px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
#search_box>button{
     padding: 15px;
    font-size:20px;
    background-color:rgb(103, 120, 138);
    border:  2px solid rgb(103, 120, 138);
    box-shadow: rgba(137, 160, 177, 0.25) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 15px;
}
#searchResults, #randomResults, #recipeofdayresult{ 
    
    display: grid;
    grid-template-columns: repeat(4, 22% );
    gap: 15px;
    margin: 40px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    }
    #searchResults>div, #randomResults>div, #recipeofdayresult>div {
        box-shadow: rgba(60, 64, 67, 0.25) 0px 1px 2px 0px, rgba(60, 64, 67, 0.2) 0px 2px 6px 2px;
        border-radius: 15px;
    }
    img{
        width: 90%;
        margin-top: 20px;
    }