.App {
  font-family: sans-serif;
  text-align: center;
  border: 2px solid orange;
  color: red;
  padding:40px;
  margin:50px;
  height:auto
}
.main {
  display: flex;
  border: 1px solid orange;
  justify-content: space-around;
  color: red;
  margin:40px;
  width:90%;
}

.main > div {
  display: flex;
}
.main > div button {
  font-size:20px;
  margin: 10px;
  border: none;
  background-color: white;
  color: red;
}